
/* color scheme : 1e3d59, f5f0e1, ff6e40, ffc13b */
body {
  background-color: #f5f0e1;
  font-family: 'Patrick Hand', cursive;
}
/*   Header   */
#header-nav {
  background-color: #1e3d59;
  border-radius: 0;
  border: 0;
}
#header-nav h1 {
  color: #ff6e40;
}
.container-fluid {
  display: inline-block;
}
.navbar-toggle {
  margin-top: 25px;
}
#nav-items a {
  color: #ff6e40;
  font-size: 21px;
}
#nav-items a:hover {
  background: #f5f0e1;
}
h1 {
 color: #ff6e40;
 margin-top: 0px;
}
body > h1 {
  text-shadow: 1px 1px #1e3d59;
}
.container {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
div {
  position: relative;
  padding: 10px;
}
figure {
  position: relative;
  height: 700px;
  background-color: rgba(30,61,89,0.4);
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
h3 {
  position: absolute;
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  padding: 6px 0px;
  text-align: center;
  color: rgba(30,61,89);
  font-weight: 900;
}
p {
  width: 90%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

#top {
  color: #ffc13b;
  text-decoration: underline;
}

/* Desktop View */
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
 	float: left;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
